<header id="l-header">
    <div class="container">
        <div class="row logo">
            <div class="col-lg-7">
                <h1>{{ site.name }}</h1>
            </div>


            <div class="col-lg-5">
                <p>On the way to death</p>
                <p>on the way to mind</p>
            </div>
        </div>

        <div class="row navicon">
            <a href=""><i class="fa fa-navicon"></i></a>
        </div>

        <div class="row navbar">
            <nav class="col-lg-8 col-md-8 col-xs-12">
                <ul class="row">
                    <li class="col-lg-3"><a href="{{crturl}}">主页</a></li>
                    <li class="col-lg-3">
                        <ul class="subnav">
                            <a href="javascript:void(0)">我的发布</a>
                            <li><a href="{{crturl}}category">分类</a></li>
                            <li><a href="{{crturl}}tag">标签</a></li>
                        </ul>
                    </li>
                    <li class="col-lg-3"><a href="{{crturl}}about">关于</a></li>
                    <!-- <li class="col-lg-3"><a href="{{crturl}}building">PLAY GROUND</a></li> -->
                    <li class="col-lg-3">
                        <ul class="subnav">
                            <a href="javascript:void(0)">工具</a>
                            <li><a href="{{crturl}}tool\editor">MD在线编辑器</a></li>
                            <li><a href="{{crturl}}tool\emoji-mosaic">emoji mosaic</a></li>
                            <li><a href="{{crturl}}tool\jsonon">jsonon</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="search col-lg-4 col-md-4 col-xs-12">
                <form id="dummySearch">
                    <label for="search"></label>
                    <input id="search" name="serach" type="text" placeholder="Not That Dummy Search">
                    <i class="fa fa-search"></i>
                </form>
                <script>
                $(function(){
                    $('#dummySearch').submit(function(e) {
                        e.preventDefault();
                        keyword = $('#search').val();
                        url = 'https://www.google.com.hk/search?q=site%3cofire.github.io+' + keyword;
                        location.href = url;
                    })
                })
                </script>
            </div>
        </div>
    </div>
</header>